/* libre-caslon-text-regular - latin */

@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text&display=swap');

:root {
  --cream: #dfd1c3;
}

@font-face {
  font-family: 'Caslon 540';
  src: url('../public/caslon540.otf') format('opentype');
}

@font-face {
  font-family: 'Caslon 540 Italics';
  src: url('../public/caslon540italic.otf') format('opentype');
}

h2.author {
  font-family: 'Caslon 540';
  letter-spacing: 0.2em;
  text-align: center;
  color: var(--cream);
  margin-top: 0.3em;
}

.section-title {
  font-family: 'Caslon 540 Italics';
  text-align: center;
}

.sidebar {
  width: 600px;
  background: darkslategrey;
  text-align: right;
  padding: 20px;
  color: white;
  transition: 0.4s ease-in;
}

.sidebar-closed {
  width: 40px;
}

.link {
  color: #fff;
	text-decoration: none;
	position: relative;
	margin: 0 0 0 0;
	overflow: hidden;
	display: inline-flex;
}

.link:before {
  content: '';
	width: 0;
	height: 1px;
	display: block;
	background: #54b7ce;
	position:absolute;
	bottom:0;
	transition: width 0.5s;
}

.link:after {
  content: '';
	width: 100%;
	height: 1px;
	display: block;
	background: #fff;
	position:absolute;
	bottom:0;
	transition: margin 0.5s;
	margin-left:0;
}

.link:hover:after {
	margin-left:100%;
	transition: margin 0.5s;
}

.link:hover:before {
	width:100%;
	transition: width 0.5s;
}

div.text {
  float: left;
  margin-left: 20%;
  margin-top: 100px;
  width: 30%;
  font-size: 1.5em;
  color: var(--cream);
  line-height: 1.6;
}

div.info {
  float: right;
  display: block;
  margin-left: auto; 
  margin-right: 0 !important;
}

.section-row {
  width: 100%;
  display: flex;
  margin-top: 2em;
  flex-direction: row;
  justify-content: center;
}

.section-block {
  background: transparent;
  font-family: 'Caslon 540';
  font-size: 120%;
  border: none !important;
  width: 200px;
  text-align: center;;
}

div.rectangle-slider {
  height: 5px;
  width: 50px;
  background-color: darkgoldenrod;
}

.title {
  font-family: 'Caslon 540 Italics';
  font-size: 340%;
  letter-spacing: 0.15em;
  margin-bottom: 0em;
  text-align: center;
  color: var(--cream);
}

hr.top {
  border: 1px solid #4f3924;
  margin: 1em;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 0.2em;
}

hr.bottom {
  border: 2px solid #4f3924;
  margin: 0em;
  margin-right: 20%;
  margin-left: 20%;
}

html {
  padding: 0;
  margin: 0;
  font-family: 'Caslon 540';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: rgb(20, 20, 19);
  }
}
